/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  background-color: #34669f;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
  text-align: center;
  color: #fff6d9;
}

h2 {
  text-align: center;
  color: #f0b87f;
}
