/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  background-color: #34669f;
  font-family: "Ubuntu", sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
  text-align: center;
  color: #fff6d9;
}

h2,
h3 {
  text-align: center;
  color: #f0b87f;
}

#demo {
  font-size: 25px;
  font-family: "Permanent Marker", cursive;
}

.bear {
  background-color: #000080;
  border: 3px solid black;
  width: 400px;
  height: 100px;
  margin: 0 auto;
}

.bear-text {
  background-color: #000080;
  color: white;
  margin: 10% auto;
  font-family: Helvetica, Arial, sans-serif;
}
